.singlePost {
  flex: 9;
}
.singlePostImg {
  width: 100%;
  object-fit: cover;
  height: 300px;
  border-radius: 5px;
}
.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}
.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-family: "lora", serif;
  font-size: 1.7rem;
}
.singlePostEdit {
  float: right;
  font-size: 1rem;
}
.singlePostIcon {
  margin-right: 10px;
  cursor: pointer;
}
.singlePostIcon:first-child {
  color: green;
}
.singlePostIcon:last-child {
  color: red;
}
