.topBar {
  width: 100%;
  height: 50px;
  background-color: #fff;
  position: sticky;
  top: 0;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
}
.topLeft,
.topRight {
  background-color: wheat;
  flex: 3;
}
.topCenter {
  flex: 6;
  background-color: yellow;
}
